<div class="main">
  <div class="container">
    <div class="saved_list btn">
      <img src="../../assets/icons/list.svg" />
      <span class="btn_label">SAVED LISTS</span>
    </div>
    <div class="saved_filter btn">
      <img src="../../assets/icons/filter.svg" />
      <span class="btn_label">SAVED FILTERS</span>
    </div>
    <div class="search_history btn">
      <img src="../../assets/icons/history.svg" />
      <span class="btn_label">SAVED HISTORY</span>
    </div>
    <input [formControl]="searchTextControl" class="search" type="text" placeholder="Search" />
  </div>
</div>